.app {
  height: 100vh;
  padding: 2.4rem;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
}

@media screen and (max-width: 977px) {
  .app {
    flex-wrap: wrap;
    justify-content: center;
  }
}
